@import "tailwindcss";
@theme {
  /* Palet warna brandBlue sebagai variabel CSS */
  --color-brandBlue-50: #e6f7ff;
  --color-brandBlue-100: #ccf6ff;
  --color-brandBlue-200: #80d9ff;
  --color-brandBlue-300: #4dcbff;
  --color-brandBlue-400: #1abeff;
  --color-brandBlue-500: #00acce;
  --color-brandBlue-600: #00aacc;
  --color-brandBlue-700: #00829d;
  --color-brandBlue-800: #006c85;
  --color-brandBlue-900: #00576c;
  --color-brandBlue-950: #003a4a;
  --color-brandPurple-50: #efe8fd;
  --color-brandPurple-100: #efe8fd;
  --color-brandPurple-200: #efe8fd;
  --color-brandPurple-300: #efe8fd;
  --color-brandPurple-400: #8244ee;
  --color-brandPurple-500: #efe8fd;
  --color-brandPurple-600: #4f11bb;
  --color-brandPurple-700: #efe8fd;
  --color-brandPurple-800: #efe8fd;
  --color-brandPurple-900: #efe8fd;
  --color-brandPurple-950: #efe8fd;
}

.flex-center {
  @apply flex justify-center items-center;
}
.btn {
  @apply w-16 h-16 rounded-full border-[1.5px] border-white  font-semibold  text-lg cursor-pointer transition-all duration-150 duration-300;
}
body {
  background-color: white;
}

.rounded-box1::after {
  content: " ";
  width: 50px;
  height: 50px;
  background-color: transparent;
  position: absolute;
  top: -38px;
  right: -12px;
  border-right: 12px solid white;
  border-bottom: 12px solid white;
  border-bottom-right-radius: 2rem;
}

.rounded-box1::before {
  content: " ";
  width: 50px;
  height: 50px;
  background-color: transparent;
  position: absolute;
  left: -12px;
  top: -12px;
  border-left: 12px solid var(--color-brandBlue-100);
  border-top: 12px solid var(--color-brandBlue-100);
  border-top-left-radius: 2rem;
}

.rounded-box2::before {
  content: " ";
  width: 50px;
  height: 50px;
  background-color: transparent;
  position: absolute;
  left: -38px;
  bottom: -12px;
  border-right: 12px solid white;
  border-bottom: 12px solid white;
  border-bottom-right-radius: 2rem;
}

.rounded-box3::after {
  content: " ";
  width: 50px;
  height: 50px;
  background-color: transparent;
  position: absolute;
  left: -12px;
  top: -12px;
  border-left: 12px solid var(--color-brandBlue-100);
  border-top: 12px solid var(--color-brandBlue-100);
  border-top-left-radius: 2rem;
}
.rounded-box3::before {
  content: " ";
  width: 50px;
  height: 50px;
  background-color: transparent;
  position: absolute;
  left: -38px;
  bottom: -12px;
  border-right: 12px solid white;
  border-bottom: 12px solid white;
  border-bottom-right-radius: 2rem;
}
